<h1>À savoir avant de s'inscrire sur <%= AppConfig.settings.pod_name %></h1>

<h2>Avertissement</h2>

<p><strong>Attention</strong>, ce serveur utilise la version de développement de Diaspora*.
Cela nous permet de faire des tests et d'améliorer le réseau, et à vous de profiter plus rapidement des dernières améliorations.
Cependant, cela signifie aussi que le code exécuté n'est pas stable et peut entraîner des pertes de données.
N'utilisez donc pas cette instance de Diaspora* comme sauvegarde pour vos photos ou autres données.
Vos bienveillants administrateurs ne pourront en aucun cas être tenus responsables de la perte de données, de dysfonctionnements ou d'indisponibilité du service. Merci :D</p>


<h2>Conditions d'utilisation</h2>

<p>Diaspora*, c'est la Liberté. Mais la liberté des uns s'arrête là où commence celle des autres.
Veuillez donc ne pas poster de contenu considéré comme illégal en France (Notamment, incitation à la haine, pédophilie, pornographie (serveur ouvert aux mineurs), ...).
Si un contenu est jugé comme non approprié par les administrateurs, il pourra être supprimé sans avertissement. Et puis, soyez respectueux, c'est toujours mieux :D</p>

<p>Les podmins Fla et Taratatach ont la possibilité technique de lire tout ce que vous écrivez sur ce serveur. Bien sûr, nous ne nous amusons pas à cela, et vous pouvez à tout moment récupérer vos données ou les supprimer totalement. De même, nous ne les transmettons à aucun tier, elles ne quitteront pas leur serveur OVH à Roubaix. Cependant, sachez que si vous voulez un contrôle total sur ce que vous partagez, vous devriez <a href="https://wiki.diasporafoundation.org/Installation" target="_blank">installer votre propre pod</a> plutôt que d'utiliser le notre.</p>
